.label {
  display: block;
  margin-bottom: 0;
}

.formEntry {
  margin: 15px;
}

.titleText {
  width: 100%;
}

.descriptionText {
  width: 100%;
}

.flexCentered {
  /* display: flex;
  flex-direction: column;
  width: 50%;
    align-items: center;*/
  /* margin-left: auto;
  margin-right: auto; */
  /* text-align: center; */
  width: 60%;
  margin: 0 auto;
}
