.label {
  display: block;
  margin-bottom: 0;
}

.formEntry {
  margin: 15px;
}

.titleText {
  width: 100%;
}

.descriptionText {
  width: 100%;
  min-height: 15vh;
}

.centered {
  width: 60%;
  margin: 0 auto;
}

@media all and (max-width: 480px) {
  .centered {
    width: 90%;
  }
}
