.flowBlockContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.formControls {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.menuButtonWide {
  font-size: 1.5em;
}

.uiChecksGrid {
  font-size: 1.5em;
}

.flowBlocksInformation {
  margin: 20px;
}

.header {
  width: 90%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
