.flowBlockContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.formControls {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.formControls:hover {
}

.menuButtonWide {
  font-size: 1.5em;
}

.uiChecksGrid {
  font-size: 1.5em;
}

.flowBlocksInformation {
  margin: 20px;
}

/* 

todo:

- figure out header/titling
- fix menu dropdown

*/
