.flowBlockContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* TODO: perfect time to play around with media queries. make this a single column for mobile and multiple otherwise */