.grid {
  display: grid;
  grid-template-columns: 1fr 100%;
  grid-gap: 10px;
}

.border-color {
  border-color: purple;
  border-width: 10px;
  border-style: solid;
}

/* body:hover .box1 {
    display: none;
    width: 0px;
  } */

.box1 {
  composes: border-color;
  grid-column: 1;
}

.box2 {
  composes: border-color;
  /* grid-area: content; */
  grid-column: 2;
}

.flexCentered {
  display: flex;
  align-content: center;
  justify-content: center;
}

.flowBlockContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.flowBlock {
  border-color: black;
  border-width: 3px;
  border-style: solid;
  border-radius: 2px;
  margin: 15px;
}
