.grid {
  display: grid;
  grid-template-columns: 1fr minmax(max-content, 100%);
  grid-gap: 10px;
}

.border-color {
  border-color: purple;
  border-width: 10px;
  border-style: solid;
}

/* body:hover .box1 {
    display: none;
    width: 0px;
  } */

.box1 {
  composes: border-color;
  grid-column: 1;
}

.box2 {
  composes: border-color;
  /* grid-area: content; */
  grid-column: 2;
}

.flexCentered {
  display: flex;
  align-content: center;
  justify-content: center;
}
