.landingPage {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  max-width: 40vw;
  max-height: 80vh;
}

.title {
  padding: 10px;
}

.description {
  padding: 0 25px 25px 25px;
  width: 50%;
}

.videoButton {
  font-family: var(--sansSerifFont);
}

.modalBody {
  display: flex;
  justify-content: center;
}

.transition {
  height: 30px;
  background-image: linear-gradient(white, var(--homeBackgroundColor));
}

.examplesPage {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--homeBackgroundColor);
}

.examplesHeader {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.examplesHeaderDescription {
  font-size: 21px;
}

.examplesContainer {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    "one two"
    "three four";
  gap: 30px;
  margin-bottom: 30px;
}

.gridFlexElement {
  display: flex;
  justify-content: center;
  align-items: center;
}

.one {
  grid-area: one;
  composes: gridFlexElement;
}

.two {
  grid-area: two;
  composes: gridFlexElement;
}

.three {
  grid-area: three;
  composes: gridFlexElement;
}

.four {
  grid-area: four;
  composes: gridFlexElement;
}

@media all and (max-width: 480px) {
  .examplesContainer {
    display: flex;
    flex-direction: column;
  }
}
