.landingPage {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  max-width: 40vw;
}

.title {
  padding: 10px;
}

.description {
  padding: 0 25px 25px 25px;
  width: 50%;
}

.modalBody {
  display: flex;
  justify-content: center;
}

.transition {
  height: 30px;
  background-image: linear-gradient(white, rgb(245, 245, 247));
}

.examplesPage {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(245, 245, 247);
}

.examplesHeader {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.examplesHeaderDescription {
  font-size: 21px;
}

.examplesContainer {
  display: grid;
  grid-template-columns: 45vw 45vw;
  grid-template-rows: 70vh 70vh;
  grid-template-areas:
    "one two"
    "three four";
  gap: 30px;
  margin-bottom: 30px;
}

.one {
  background-color: white;
  grid-area: one;
  display: flex;
  justify-content: center;
  align-items: center;
}

.two {
  background-color: white;
  grid-area: two;
  display: flex;
  justify-content: center;
  align-items: center;
}

.three {
  background-color: white;
  grid-area: three;
  display: flex;
  justify-content: center;
  align-items: center;
}

.four {
  background-color: white;
  grid-area: four;
  display: flex;
  justify-content: center;
  align-items: center;
}
