.landingPage {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  max-width: 40vw;
}

.title {
  padding: 10px;
}

.description {
  padding: 0 25px 25px 25px;
  width: 50%;
}

.video {
  padding: 5px;
  width: 30vw;
  border-radius: 2px;
}

.examplesPage {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.examplesContainer {
  display: grid;
  grid-template-columns: 30vw 30vw;
  grid-template-rows: 30vh 30vh;
  grid-template-areas:
    "one two"
    "three four";
  gap: 10px;
}

.one {
  background-color: green;
  grid-area: one;
}

.two {
  background-color: green;
  grid-area: two;
}

.three {
  background-color: green;
  grid-area: three;
}

.four {
  background-color: green;
  grid-area: four;
}
