.footer {
  /* height: 50px; */
  /* text-align: center; */
  display: flex;
  justify-content: space-between;
  background-color: rgb(100, 100, 100);
  color: black;
}

.copyright {
  margin: 10px;
}

.content {
  margin: 10px;
}
