.footer {
  display: flex;
  justify-content: space-between;
  background-color: var(--footerColor);
  color: var(--headerFooterFontColor);
  padding-top: 5px;
  padding-bottom: 5px;
}

.copyright {
  margin: 10px;
}

.content {
  margin: 10px;
}

.privacyPolicyLink {
  color: var(--headerFooterFontColor);
}
