.flowBlock {
  border-color: black;
  border-width: 3px;
  border-style: solid;
  border-radius: 2px;
  margin: 15px;
}

.urlText {
  display: block;
  width: 100%;
}

.descriptionText {
  display: block;
  width: 100%;
}

.image {
  margin: 15px;
}
