.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 93vh;
  background-color: var(--loginBackgroundColor);
}

.loginBox {
  width: 100%;
  position: relative;
}

.backgroundImage {
  width: 100%;
}

.loginOptions {
  position: absolute;
  left: 20%;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

@media all and (max-width: 480px) {
  .loginOptions {
    margin: 5px;
    left: 0%;
  }

  .backgroundImage {
    display: none;
  }
}
