.navBar {
  background-color: var(--headerColor);
  font-family: var(--sansSerifFont);
}

.searchButton {
  color: var(--headerFooterFontColor);
}

.icon {
  width: 35px;
  height: 35px;
}

.form {
  flex-wrap: nowrap;
}
